.forgot-login{z-index: 200;
    position: absolute;
    font-family: Arial, sans-serif;
    display: block;
    left: 50%; 
    top: 50%;
    transform: translate(-50%,-50%);
}
.forgot-login-modal {
height:500px;
    background-color: #1a1a1b;
    padding: 20px;
    width: 400px;
    border-radius: 8px;
    color: #d7dadc;
    position: relative;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.5);
    
}

.forgot-login-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.forgot-close-btn {
    cursor: pointer;
    font-size: 24px;
    color: #ffffff;
    position: absolute;
    top:5px;
    right: 20px;
    font-size: 40px;
}
.forgot-login-modal input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #2a2a2b;
    color: #ffffff;
    font-size: 16px;
}
.forgot-form-group {
    margin: 20px 0;
}