* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input{
    outline: none;
}
.main{
    width: 100%;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh; /* 20% chiều cao của trang */
    width: 100%;
    background-color: #000000;
    padding: 0 20px;
}

.logo {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    flex: 1;
}

.auth-buttons {
    display: flex;
    gap: 10px;
}

.auth-buttons .btn {
    white-space: nowrap;
    font-weight: bold;
    padding: 15px 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid #000000;
}
.auth-buttons .btn:hover {
    background-color: #000000;
    color: white;
    border: 2px solid #ffffff;
}

.content {
    padding: 20px;
    text-align: center;
    font-size: 1.2rem;
}