.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    min-width: 100vw;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 20;
  }
  .header__notify {
    position: relative;
  }
  
  .header__notify p {
    position: absolute;
    bottom: -25px; /* Khoảng cách 25px dưới quả chuông để không bị dính sát */
    left: 0;
    font-size: 12px;
    color: #333;
    margin: 0;
    z-index: 10; /* Đảm bảo phần tử p luôn hiển thị trên các phần tử khác */
  }
  
  
  .header__right{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__notifys{
    margin-right: 20px;
    cursor: pointer;
    border-radius: 50%;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header__setting, .header__notify, .header__user {
    margin-right: 20px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 50%;
    padding: 8px;
    text-align: center;
    color: #333;
    font-size: 24px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

