.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    min-width: 100vw;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 20;
  }
  
  .header__right{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header__setting, .header__notify, .header__user {
    margin-right: 20px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 50%;
    padding: 8px;
    text-align: center;
    color: #333;
    font-size: 24px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }